<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato|Oswald' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/css/main.min.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var sockets = io.connect()
        sockets.on('init',function(msg){
            
        })
          
        sockets.on('activity',function(msg){
           console.log(msg)
            alert(msg.msg)
        })
    </script>
</head>
<body>
    <div class="left-bar">
        <div class="brand">
            <h1>pushboard</h1>    
        </div>

        <div class="board-list" id="boardsList">
            <h2>Boards</h2>
            <ul data-bind="foreach: boards">
                <li data-bind="text: $data.name, 
                               css: { 'selected': $data._id == console.log(selected()) },
                               click: goToBoard"></li>
            </ul>

        </div>

        <% include partials/nav-user.ejs %>
        
    </div>

    <div class="board" id="board">
        <div class="board-title">
            <h2 data-bind="editableText: title, event: { blur: save}"></h2>
            <p data-bind="editableText: description, event: { blur: save}"></p>
        </div>
    </div>

    <script type='text/javascript' src="/js/app.min.js"></script>


</body>
</html>